{% extends 'layout.html' %}

{% block displayUserName %}
<p class="user-name">Getting around {{ name }}?</p>
{% endblock %}

{% block body %}
<div class="tracker-page">
    <div class="title-description">
        <h1 class="tracker-title">Your Station Keeper</h1>
        <p class="tracker-subtitle">Stations you've visited are highlighted. How many can you collect?</p>
    </div>
<br>
    <div class="tracker-grid">
        {% for line in trainLines %}
        <div class="tracker-col">
            <div class="tracker-header line-{{ line }}">{{ line }}</div>
            {% for station in tracker[line] %}
            <div class="tracker-station {{ 'visited' if station.visited else 'unvisited' }}">
                {{ station.name }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
